html {
	height: 100%;
}
body {
	background-image: url("images/BackgroundImage.jpg");
	background-repeat: repeat-y;
	background-position:center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #654011;
	background-color: #aadff1;
	margin: 0px;
	padding: 0px;
	height: 100%;
}
#DivContainer {
	background-color: #fff;
	overflow: auto;
	min-height: 100%;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	border-left: 1px solid #aadff1;
	border-right: 1px solid #aadff1;
}
#Header {
	background-image: url("images/navigation-background.jpg");
	/*background-color: #faf8e1;*/
	margin: 0px;
	padding: 0px;
	float: left;
	height: 144px;
	width: 960px;
}
#Logo {
	margin: 0px;
	float: left;
	height: 121px;
	width: 500px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	z-index: 1;
	/*padding-left: 296px;*/
}
#Logo h1 {
	background-image: url("images/Logo.png");
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: -9999px;
	margin: 0px;
	position: relative;
	padding: 0px;
	height: 150px;
	width: 420px;

}
#Contact {
	background-position: left top;
	margin: 0px;
	float: right;
	height: 125px;
	width: 188px;
	padding-top: 68px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#Contact p {
	line-height: 16px;
	padding: 0px;
	margin-top: 4px;
	margin-right: 24px;
	margin-bottom: 0px;
	margin-left: 24px;
}

#Contact p a {
	color: #63acc4;
	text-decoration: none;
}
#Contact p a:hover {
	text-decoration: underline;
}
#Navigation {
	background-color: #321809;
	text-align: center;
	margin-top: 0px;
	float: left;
	height: 42px;
	width: 960px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #f26e6a;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #ade1ef;
	z-index: 1;
}
#Navigation ul {
	margin: 0px;
	height: 42px;
	line-height:4.2em;
	margin-top: -2px;
	margin-right: 60px;
	margin-bottom: 0px;
	margin-left: 60px;
	padding: 0px;
	list-style-type: none;
}
#Navigation ul li {
	display: block;
	padding: 0px;
	float:left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#Navigation ul li a.Selected {
	font-size: 16px;
	display: block;
	height:45px;
	width:120px;
	color: #c59f88;
	text-decoration: none;
	background-color: #aadff1;
	color: #321809;
	margin-top: -3px;
	border-top-width: 3px;
	border-top-style: solid;
	border-top-color: #34d0e9;
}

#Navigation ul li a.Selectable {
	font-size: 16px;
	display: block;
	height:45px;
	width:120px;
	color: #c59f88;
	text-decoration: none;
}
#Navigation ul li a:hover.Selectable {
	color: #f26e6a;
	background-color: #ffcba9;
}
#ContentContainer {
	margin: 0px;
	float: left;
	width: 960px;
	padding: 0px;
	min-height: 100%;
}
/*#Photo {
   border: 1px solid #4C3C1B;
   padding: 5px;
   width: 300px;
   background-color: #EFEECB;
}*/
#Content {
	float: left;
	width: 420px;
}
#Content.Content {
	margin: 0px;
	padding: 30px;
	float: left;
	width: 570px;
	margin-left: 25px;
	margin-bottom: 55px;
	border-right: 1px solid #f0f8ff;
}
div.formLabels {
	float: left;
	font-size: 12px;
	padding-top: 3px;	
	padding-bottom: 10px;	
	width: 135px;
	display:inline;
	clear: left;
}
div.formLabelsInline {
	float: left;
	font-size: 12px;
	padding-top: 3px;	
	padding-bottom: 10px;	
	padding-left: 50px;	
	width: 130px;
	display:inline;
}
textarea.formfields {
	float: left;
}
input.formSubmit {
	float: Right;
	font-size: 16px;
	text-align: center;
}
input.formbutton {

}
input.formfields {
	float: left;
	text-align: left;
}
input.formfieldsRight {
	float: left;
	text-align: left;
}

select.formfields {
	float: left;
}

#Content h2 {
	font-size: 20px;
	font-weight: normal;
	padding: 0px;
	margin-top: 18px;
	margin-right: 0px;
	margin-bottom: 18px;
	margin-left: -15px;
	color: #63acc4;
}
#Content h2.first {
	margin-top: 0px;
}
#GalleryContent {
	margin-left: 90px;
	visibility: visible;
	clear: right;
	overflow: auto;
}
#Content p {
	padding: 0px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 0px;
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 1px;
}
#Content p a {
	color: #63acc4;
	text-decoration: none;
}
#Content p a:hover {
	text-decoration: underline;
}
#Sidebar {
    font-size: 10px;
	margin-left: 15px;
	padding: 30px;
	float: left;
	width: 220px;
}

#Sidebar li 
{
    font-size: 12px;
	margin: 0px;
	height: 20px;
}

#LikeBox
{
	padding: 0px;
	margin-top: 18px;
	margin-right: 15px;
	margin-bottom: 18px;
	margin-left: -18px;
}

#Sidebar h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 0px;
	margin-top: 18px;
	margin-right: 0px;
	margin-bottom: 18px;
	margin-left: -15px;
	color: #63acc4;
}
#Sidebar h3.first {
	margin-top: 0px;
}
#Sidebar p {
	padding: 0px;
	margin-top: 18px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
	line-height: 20px;
	font-size: 12px;
	letter-spacing: 1px;
}
#Sidebar p a {
	color: #63acc4;
	text-decoration: none;
}
#Sidebar p a:hover {
	text-decoration: underline;
}
#Footer {
    position: fixed; bottom: 0;
    z-index: 2;
	background-color: #321809;
	margin: 0px;
	float: left;
	width: 960px;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #f26e6a;
}
#Footer p {
	color: #EEEEEE;
	text-align: center;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}
#Footer img.facebook {
	margin-top: -9px;
	margin-right: 4px;
	margin-left: -32px;
	padding: 0px;
	float: right;
	
}
#Footer img.twitter {
	margin-top: -9px;
	margin-right: 36px;
	margin-left: -32px;
	padding: 0px;
	float: right;	
}
#Footer p a {
	color: #FFF;
	text-decoration: none;
}
#Footer p a:hover {
	color: #9dddf2;
	text-decoration: underline;
}
#Content img {
	padding: 0px;
	margin-top: 0px;
	margin-right: 18px;
	margin-bottom: 18px;
	margin-left: 0px;
}

#Content div.slideshow {
	float: left;
	margin-top: 5px;
	width: 360px;
	margin-right: 25px;
	height: 280px;
}

#Content img.photo {
	border : 1px solid #654011;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 20px 20px 20px 20px;
	width: 320px;
	height: 220px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 2px #636363;
	   -moz-box-shadow: 2px 2px 2px #636363;
	        box-shadow: 2px 2px 2px #636363;

}
#Content img.photoNoSize {
	border : 1px solid #654011;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 20px 20px 20px 20px;
	margin-left: 200px;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 2px #636363;
	   -moz-box-shadow: 2px 2px 2px #636363;
	        box-shadow: 2px 2px 2px #636363;

}
#Content img.Menu {
	border : 1px solid #654011;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 20px 20px 20px 20px;
	width: 230px;
	height: 180px;
	margin-left: 50px;
	margin-right: 0px;
	margin-bottom: 30px;
	float: right;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 2px #636363;
	   -moz-box-shadow: 2px 2px 2px #636363;
	        box-shadow: 2px 2px 2px #636363;
	

}
#Content img.MenuLeft {
	border : 1px solid #654011;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 20px 20px 20px 20px;
	width: 230px;
	height: 180px;
	margin-right 50px;
	margin-top: 0px;
	margin-bottom: 30px;
	float: left;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 2px #636363;
	   -moz-box-shadow: 2px 2px 2px #636363;
	        box-shadow: 2px 2px 2px #636363;
				clear: left;	
}
#Content strong.menu {
	font-size: 14px;
	color: #63acc4;
	font-weight: normal;
}
#Content strong.menuRight {
	font-size: 14px;
	color: #63acc4;
	font-weight: normal;
	/*float: right;*/
	margin-bottom: 8px;
}

#Content .galleryBox
{
	float: left; display: inline;width: 190px;height: 190px;
}
#Content .scale-up {
	padding: 10px 10px 10px 10px;
	border : 1px solid #654011;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 150px; 
	height:150px;
	
	-webkit-box-shadow: 2px 2px 2px #654011;
	   -moz-box-shadow: 2px 2px 2px #654011;
	        box-shadow: 2px 2px 2px #654011;
	        -webkit-border-radius: 5px;
	        -moz-border-radius: 5px;
	         border-radius: 5px;  

	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.scale-up * {
    vertical-align: middle;
}

/*\*//*/
.wraptocenter {
    display: block;
}
.wraptocenter span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/


#Content img.gallery {
	margin: 0px;
	max-height: 150px; 
	max-width: 150px;
	background-color: #FFF;
}

#Menu {
	margin: 0px;
	width: 550px;
	margin-bottom: 30px;
	padding-top: 0px;
	padding-right: 0px;
	clear: both;

}

#Special {
	float: left;
	margin: 0px;
	width: 420px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
